.container{
    padding: 20px 200px;
}
#titleImg{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: 400px;
}
#titleImg img{
    width: 100%;
    height: 400px;
}
h1{
    font-size: 50px;
}
#recieptIntro p{
    color: gray;
    font-size: 20px;
}
#time{
    border-radius: 10px;
    background: rgb(252, 241, 241);
    padding: 20px ;
}
h2{
    font-size: 40px;
    color: brown;
}
 li{
    padding-top: 20px;
    font-size: 20px;
}
ul li::marker{
    color:rgb(161, 90, 90) ;
}
ol li::marker{
    color:brown ;
}
h3{
    color: rgb(161, 90, 90);
    font-size: 30px;
}
#ingredients,#instructions{
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(202, 199, 199);
}
#nutrition p{
    font-size: 20px;
    color: gray;
}
table{
    margin-top: 30px;
    border-collapse: collapse; /* Collapse borders for adjacent cells */
    width: 100%; 
}
tr{
    border-bottom: 1px solid rgb(202, 199, 199); 
}
td{
    padding: 20px;
    font-size: 20px;
}
td:last-child{
    color:brown ;
    font-weight: bold;
}
